.logos{
    &-section{
        padding: 3.2rem 0 6.2rem;

        @include bp(md){
            padding: 8rem 0 4rem;
        }

        &__link{
            display: inline-block;
            filter: grayscale(1);
            opacity: 0.3;
            &:hover{
                opacity: 1;
                filter: grayscale(0);
            }
        }
    }
    &-slider{
        .swiper-slide{
            align-self: center;
            @include bp(xl-up){
                width: auto!important;
            }
            @include bp(lg){
                display: flex;
                justify-content: center;
            }
            @include bp(sm){
                justify-content: center;
            }
        }
        &-wrap{
            position: relative;
            padding: 0 4.7rem;
            margin: 0 -1.5rem;
            @include bp(md){
                margin: 0;
                padding: 0 3rem;
            }

            .swiper-button{
                top: 1.1rem;

                @include bp(md){
                    top: 0;
                }
            }
        }
    }
}
